<div id="title">
    <h1>TODOS:</h1>
</div>
<div id="new-todo-control">
    <input #inp id="new-todo-input"/>
    <span id="add-todo" (click)="addTodo(inp)"><span id="plus">+</span></span>
</div>
<div id="todos-container">
    <div id="scroller">
        <div class="todo" *ngFor="let todo of todos">
            <span class="id">{{ todo.todo_id }}</span>
            <span class="title">{{ todo.description }}</span>
            <div class="controls">
                <svg class="edit" viewBox="0 0 24 24">
                    <path d="M17,22H5a3,3,0,0,1-3-3V7A3,3,0,0,1,5,4H9A1,1,0,0,1,9,6H5A1,1,0,0,0,4,7V19a1,1,0,0,0,1,1H17a1,1,0,0,0,1-1V15a1,1,0,0,1,2,0v4A3,3,0,0,1,17,22Z"/>
                    <path d="M14.6,5.87l-4.95,5a.41.41,0,0,0-.13.23l-1,3.82a.48.48,0,0,0,.13.48A.47.47,0,0,0,9,15.5a.32.32,0,0,0,.13,0l3.82-1a.41.41,0,0,0,.23-.13L18.13,9.4Z"/>
                    <path d="M21,4.45,19.55,3a1.52,1.52,0,0,0-2.13,0L16,4.45,19.55,8,21,6.58A1.52,1.52,0,0,0,21,4.45Z"/>
                </svg>
                <svg class="delete" viewBox="0 0 32 32" (click)="deleteTodo(todo.todo_id)">
                    <path d="M18.83,16l8.59-8.59a2,2,0,0,0-2.83-2.83L16,13.17,7.41,4.59A2,2,0,0,0,4.59,7.41L13.17,16,4.59,24.59a2,2,0,1,0,2.83,2.83L16,18.83l8.59,8.59a2,2,0,0,0,2.83-2.83Z"/>
                </svg>
            </div>
        </div>
    </div>
</div>